::-webkit-scrollbar{
    width: 7px;
    height: 0px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background: hsl(100, 10%, 70%);

    border-radius: 1vw;
}

.main{
    left: 0;
    margin-top: -10px;
    width:  98vw;
    display: flex;
    flex-direction: column;
    font-family: Rubik, Arial;
    background-color: rgb(181, 237, 255);
    height: 10000px;
}

.starter{
    height: 101vh;
    width:  100vw;
    background-color: beige;
    position: relative;
    margin-bottom: 30px;
}

.starter-image{
    width: 100vw;
    height: 101vh;
    object-fit: cover;
}

.starter-text{
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: rgb(243, 231, 231);
    font-size: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Segoe UI';
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-me{  
    display: flex; 
    width:  1fr;
    font-size: 30px;
    display: table-row;
    grid-template-rows: 70px 1fr;
}

.about-title{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.description{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.about-image{ 
    background-color: beige;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.about-text{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(66, 66, 66);
}

.contact-information{
    font-size: 15px;
}