.header{
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    left: 0;
    right: 0;
    top: 0;
    /* rgb(181, 237, 255) */
    background-color: transparent;
    font-family: Rubik, Arial;
    color: rgb(108, 108, 108);
    font-size: 20px;
    padding-left: 30px;
}

.Home{
    margin-right: 15px;
}

.about-me-top{
    margin-right: 15px;
}